# General Folders

gradle/
build/
bin/
gen/
tmp/
.gradle/
.settings/
.idea/

# General Files

.project
.classpath
.DS_Store
local.properties
*.iml
gradlew
gradlew.bat
Thumbs.db


# files specific to current project
*.apk
*.ap_